.main_dialogs{
    display: grid;
    grid-template-columns: 8fr 4fr;
    width: 1200px;
    margin-bottom: 600px;
    grid-area: main;
    /*padding: 10px;*/
    /*margin-bottom: 15px;*/
    /*height: 200%;*/
    /*border: 1px solid white;*/
    /*border-radius: 10px;*/
}
.main_dialogs .messages_block div{
    border: 2px solid black;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.main_dialogs .messages_block textarea{
    width: 98%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.2em;
}
.main_dialogs .messages_block textarea:hover{

    border: 2px solid black;
    border-radius: 10px;

}
.main_dialogs .messages_block button{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2em;
}

.main_dialogs .messages_block button:hover{
    border: 1px solid black;
    border-radius: 10px;

}
.main_dialogs div{
    padding: 10px;

    border: 1px solid white;
    border-radius: 10px;
}
.main_dialogs div p{
    font-size: 1.5em;
}
.messages_block{
    background-color: white;

}
.messList a{
    color: black;
    text-decoration: none;
}
.active{
    border: none;
    background-color: white;
}
.dialogs_block{
    background-color: white;
    margin-left: 10px;
}
.messList{

}