.main{
    width: 100%;
    /*background-color: white;*/
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 10px;
    margin-bottom: 600px;
}
.main div{

}
.users_list{
    margin-top: 30px;
    display: flex;
}
.user_container{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    margin-right: 10px;

}
.user_name{

}
.user_email{

}
.user_container img{
    width: 100px;
}
.selectedPage{
    /*font-weight: bold;*/
    /*border: 3px solid grey;*/
    /*border-radius: 10px;*/
    /*color: black;*/
    border-color: cornflowerblue;
    color: cornflowerblue;
}
.div_pages{
    /*display: flex;*/
    /*width: 100%;*/

}
.follow_btns button{
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}