.main{
    width: 100%;

    flex-wrap: wrap;
    align-content: flex-start;
}
.main div{

}
.users_list{
    margin-top: 30px;
    display: flex;
}
.user_container{
    background-color: white;
    width: 150px;
    padding: 5px;

}
.user_name{

}
.user_email{

}
.user_container img{
    width: 100px;
}
.selectedPage{
    /*font-weight: bold;*/
    /*border: 3px solid grey;*/
    /*border-radius: 10px;*/
    /*color: black;*/
    border-color: cornflowerblue;
    color: cornflowerblue;
}
.div_pages{
    /*display: flex;*/
    /*width: 100%;*/

}